#chat-messages {
  background-color: #FFFFFF;
}

.imgStyle {
  max-width: 100%;
  max-height: 100%;
}

body {
  background: #CAE1ED;
}

.calendar {
  height: 600px;
  background-color: white;
  width: 100%;
  padding: 5px;
}

.tableHeader {
  font-weight: bold;
  color: #FFFFFF;
  background-color: #6A97B0;
}

.popChat {
  position: fixed;
  bottom: 0%;
  z-index: 5px;
  margin-left: 100px;
}

.messages {
  padding: 8px;
  background-color: #F0F8FF;
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  height: 300px;
  border-radius: 10px;
  overflow: auto;
  display: inline-block;
}

.input {
  padding: 15px;
  border-radius: 10px;
}

.chat {
  padding-bottom: 30px;
  padding-top: 10px;
}

.logged {
  border-width: 1px;
  border-style: solid;
  vertical-align: top;
  padding: 5px;
  margin-left: 10px;
  background-color: LightBlue;
  border-radius: 10px;
  width: 30%;
  display: inline-block;
  float: top;
}

#videoLogged {
  background-color: darkblue;
  font-size: xx-large;
  padding: 0px;
}

.videoChat {
  border: 3px solid darkblue; 
  height: 600px;
}

.iframe {
  width: 700px;
  height: 500px;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.messageStyle {
  padding: 5px;
  border-radius: 10;
  margin: auto;
  background-color: MintCream;
}

.videoWait {
  border: 3px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vchatContainer {
  text-align: center;
}

#vchatPpl {
  padding: 2px;
}
.vchatTitle {
  background-color: LightBlue;
  border-style: solid;
  font-size: xx-large;
  font-family: Arial;
  border-radius: 10px;
  padding: 1px;
  margin-bottom: 5px;
  text-align: center;
}

.map {
  padding: 50px;
}

.groupList {
  max-height: 400px;
  overflow-y: scroll;
}

.chatHeader {
    background-color: LightBlue;
    border-style: solid;
    font-size: xx-large;
    font-family: Arial;
    border-radius: 10px;
    padding: 1px;
    margin-bottom: 5px;
    width: 170px;
}

.mapContainer {
  width: 100%;
  height: 200px;
}

.mapMap {
  width: 100%;
  height: 300px;
}

.buffer {
  padding: 50px;
}
.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 50%;
  margin: 1em auto;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
.geosuggest__item__matched-text {
  font-weight: bold;
}